<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- グラフのコードのインポート -->
    <script src="/static/js/gauge.min.js"></script>

    <!-- LIFFのライブラリのインポート -->
    <script src=" https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="/static/js/liff.js"></script>

    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <!-- Title -->
    <h2>Temperature Monitor</h2>
    <hr />
    <p>
      <img id="loading-animation" class="" src="/static/images/loading.gif" height="14px" />
      <span id="status" class="inactive">Device disconnected</span>
    </p>
    <hr />
    <div id="controls" class="hidden">
      <!-- Device Info Table -->
      <table class="device-info-table">
        <tr>
          <th class="device-info-cell device-info-key">Name</th>
          <td class="device-info-cell device-info-val" id="device-name"></td>
        </tr>
        <tr>
          <th class="device-info-cell device-info-key">Temperature</th>
          <td class="device-info-cell device-info-val" id="temp">0</td>
        </tr>
      </table>
      <hr />
      <canvas data-type="radial-gauge"
              data-major-ticks="950, 960, 970, 980, 990, 1000, 1010, 1020, 1030, 1040, 1050"
              data-type="radial-gauge"
              data-title="Barometer"
              data-units="mBar"
              data-width="200"
              data-height="200"
              data-value-int="0"
              data-value-dec="0"
              data-width="200"
              data-height="200"
              data-min-value="950"
              data-max-value="1050"
              data-highlights="false"
      ></canvas>

    </div>
  </body>

</html>
