<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- グラフのコードのインポート -->
    <script async src="/static/js/gauge.min.js"></script>

    <!-- LIFFのライブラリのインポート -->
    <script src=" https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="/static/js/liff.js"></script>

    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <!-- Title -->
    <h2>Temperature Monitor</h2>
    <hr />
    <p>
      <img id="loading-animation" class="" src="/static/images/loading.gif" height="14px" />
      <span id="status" class="inactive">Device disconnected</span>
    </p>
    <hr />
    <div id="controls" class="hidden">
      <!-- Device Info Table -->
      <table class="device-info-table">
        <tr>
          <th class="device-info-cell device-info-key">Name</th>
          <td class="device-info-cell device-info-val" id="device-name"></td>
        </tr>
        <tr>
          <th class="device-info-cell device-info-key">Temperature</th>
          <td class="device-info-cell device-info-val" id="temp">0</td>
        </tr>
      </table>
      <hr />
      <canvas data-type="radial-gauge"
              data-value="-20"
              data-width="200"
              data-height="200"
              data-bar-width="2"
              data-bar-shadow="0"
              data-border-inner-width="0"
              data-border-outer-width="0"
              data-border-middle-width="0"
              data-color-bar-progress="rgba(50,50,200,.75)"
              data-color-bar="#aae"
              data-color-needle="rgba(50,50,200,.75)"
              data-color-needle-end="#aae"
              data-highlights="false"
              data-value-box-border-radius="0"
              data-value-box-stroke="1"
              data-color-value-box-shadow="0"
              data-needle-type="line"
              data-needle-width="1"
              data-needle-circle-size="5"
              data-needle-circle-inner="false"
              data-color-needle-circle-outer="rgba(50,50,200,.75)"
              data-color-needle-circle-outer-end="#aae"
              data-stroke-ticks="0"
      ></canvas>
      <button onclick="animateGauges()">Animate</button>
    </div>
  </body>

</html>
